#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define DEF 0
#define NAV 1
#define SYM 2
#define ADJ 3
#define EXTRA 4

/ {
    behaviors {
        para: para {
            compatible = "zmk,behavior-tap-dance";
            label = "PARA";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;
        };

        caps: caps {
            compatible = "zmk,behavior-caps-word";
            label = "CAPS";
            #binding-cells = <0>;
            continue-list = <MINUS BACKSPACE>;
        };

        paraless: paraless {
            compatible = "zmk,behavior-mod-morph";
            label = "PARALESS";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LESS_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        paragreat: paragreat {
            compatible = "zmk,behavior-mod-morph";
            label = "PARAGREAT";
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        hml: hrm_left {
            compatible = "zmk,behavior-hold-tap";
            label = "hrm_left";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            require-prior-idle-ms = <175>;
            flavor = "balanced";
            tapping-term-ms = <300>;
            quick-tap-ms = <175>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <7 18 19 19 20 21 22 31 32 33 34 41 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 40 41 39 36 37 38>;
        };

        hmr: hrm_right {
            compatible = "zmk,behavior-hold-tap";
            label = "hrm_right";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            require-prior-idle-ms = <175>;
            flavor = "balanced";
            tapping-term-ms = <300>;
            quick-tap-ms = <175>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41>;
        };

        lt_bkspace: lt_bkspace {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_BKSPACE";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <150>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41>;
        };

        sk_custom: sk_custom {
            compatible = "zmk,behavior-sticky-key";
            label = "SK_CUSTOM";
            bindings = <&sk>;
            #binding-cells = <1>;
            quick-release;
            release-after-ms = <280>;
            ignore-modifiers;
        };

        shift_tab: shift_tab {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFT_TAB";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            require-prior-idle-ms = <175>;
            flavor = "balanced";
            tapping-term-ms = <300>;
            quick-tap-ms = <175>;
            hold-trigger-on-release;
        };

        angle_great: angle_great {
            compatible = "zmk,behavior-mod-morph";
            label = "ANGLE_GREAT";
            bindings = <&kp GREATER_THAN>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        angle_less: angle_less {
            compatible = "zmk,behavior-mod-morph";
            label = "ANGLE_LESS";
            bindings = <&kp LESS_THAN>, <&kp LEFT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        equal_not: equal_not {
            compatible = "zmk,behavior-mod-morph";
            label = "EQUAL_NOT";
            bindings = <&kp EQUAL>, <&kp EXCLAMATION>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        under_super: under_super {
            compatible = "zmk,behavior-mod-morph";
            label = "UNDER_SUPER";
            bindings = <&kp UNDERSCORE>, <&kp CARET>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        minus_plus: minus_plus {
            compatible = "zmk,behavior-mod-morph";
            label = "MINUS_PLUS";
            bindings = <&kp KP_MINUS>, <&kp KP_PLUS>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        and_or: and_or {
            compatible = "zmk,behavior-mod-morph";
            label = "AND_OR";
            bindings = <&kp AMPERSAND>, <&kp PIPE>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        at_percent: at_percent {
            compatible = "zmk,behavior-mod-morph";
            label = "AT_PERCENT";
            bindings = <&kp AT_SIGN>, <&kp PERCENT>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        div_mul: div_mul {
            compatible = "zmk,behavior-mod-morph";
            label = "DIV_MUL";
            bindings = <&kp KP_DIVIDE>, <&kp KP_ASTERISK>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        hash_dollar: hash_dollar {
            compatible = "zmk,behavior-mod-morph";
            label = "HASH_DOLLAR";
            bindings = <&kp POUND>, <&kp DOLLAR>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        dot_colon: dot_colon {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_COLON";
            bindings = <&kp KP_DOT>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        comma_semi: comma_semi {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_SEMI";
            bindings = <&kp COMMA>, <&kp SEMICOLON>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        question_grave: question_grave {
            compatible = "zmk,behavior-mod-morph";
            label = "QUESTION_GRAVE";
            bindings = <&kp QUESTION>, <&kp GRAVE>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        escape_hatch: escape_hatch {
            compatible = "zmk,behavior-tap-dance";
            label = "ESCAPE_HATCH";
            #binding-cells = <0>;
            bindings = <&kp ESCAPE>, <&to 0>;
        };

        sticky_shift: sticky_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "STICKY_SHIFT";
            bindings = <&kp>, <&sk_custom>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "tap-preferred";
        };
    };

    macros {
        vim_save: vim_save {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COLON &kp W>;
            label = "VIM_SAVE";
        };

        vim_save_exit: vim_save_exit {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COLON &kp LS(Z) &kp LS(Z)>;
            label = "VIM_SAVE_EXIT";
        };

        vim_exit_wo_save: vim_exit_wo_save {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COLON &kp LS(Z) &kp LS(Q)>;
            label = "VIM_EXIT_WO_SAVE";
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_fslash {
            bindings = <&div_mul>;
            key-positions = <8 19>;
        };

        combo_bslask {
            bindings = <&kp BACKSLASH>;
            key-positions = <8 21>;
        };

        r_brack {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <16 15>;
        };

        r_brack_l {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <19 20>;
        };

        a_brack {
            bindings = <&angle_less>;
            key-positions = <27 28>;
        };

        a_brack_l {
            bindings = <&angle_great>;
            key-positions = <31 32>;
        };

        c_bracket {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <3 4>;
        };

        c_brack_l {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <7 8>;
        };

        equality {
            bindings = <&equal_not>;
            key-positions = <8 9>;
        };

        combo_minus {
            bindings = <&minus_plus>;
            key-positions = <20 21>;
        };

        combo_underscore {
            bindings = <&under_super>;
            key-positions = <33 32>;
        };

        combo_and_or {
            bindings = <&and_or>;
            key-positions = <14 15>;
        };

        combo_at_percent {
            bindings = <&at_percent>;
            key-positions = <2 3>;
        };

        combo_hash_dollar {
            bindings = <&hash_dollar>;
            key-positions = <26 27>;
        };

        home {
            bindings = <&kp TILDE>;
            key-positions = <16 19>;
        };

        nav {
            bindings = <&to 0>;
            key-positions = <38 39>;
            layers = <0>;
        };
    };

    //

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";

            // -----------------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |
            // |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |
            // |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&kp K_MUTE  &kp W  &kp L                &kp Y            &kp P            &kp B             &kp Z      &kp F              &kp O             &kp U                 &kp SQT          &kp C_VOLUME_UP
&caps       &kp C  &hml LEFT_CONTROL R  &hml LEFT_ALT S  &hml LEFT_GUI T  &kp G             &kp M      &hmr RIGHT_META N  &hmr RIGHT_ALT E  &hmr RIGHT_CONTROL I  &kp A            &kp C_VOLUME_DOWN
&mo 4       &kp Q  &kp J                &kp V            &kp D            &kp K             &kp X      &kp H              &dot_colon        &comma_semi           &question_grave  &to 3
                                        &kp ESCAPE       &lt 0 SPACE      &sk LEFT_SHIFT    &lt 0 TAB  &kp BACKSPACE      &kp ENTER
            >;
        };

        nav {
            bindings = <
&trans  &trans          &kp LC(U)     &kp LC(D)      &kp LC(P)  &trans       &vim_save_exit     &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &sk RIGHT_GUI      &trans
&trans  &kp LEFT_ARROW  &kp UP_ARROW  &kp DOWN       &kp RIGHT  &trans       &kp KP_NUMBER_0    &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &sk RIGHT_ALT      &trans
&trans  &trans          &kp PAGE_UP   &kp PAGE_DOWN  &kp LC(N)  &vim_save    &vim_exit_wo_save  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &sk RIGHT_CONTROL  &trans
                                      &trans         &trans     &trans       &trans             &trans           &trans
            >;

            label = "nav";
        };

        mouse {
            bindings = <
&trans  &trans  &trans          &mmv MOVE_UP    &trans           &trans       &trans  &trans          &msc SCRL_UP    &trans           &trans  &trans
&trans  &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans       &trans  &msc SCRL_LEFT  &msc SCRL_DOWN  &mmv MOVE_RIGHT  &trans  &trans
&trans  &trans  &trans          &trans          &trans           &trans       &trans  &trans          &trans          &trans           &trans  &trans
                                &mkp MCLK       &mkp LCLK        &mkp RCLK    &trans  &trans          &trans
            >;

            label = "mouse";
        };

        qwerty {
            display-name = "fallback";
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E    &kp R  &kp T         &kp Y    &kp U            &kp I      &kp O    &kp P     &kp BACKSPACE
&kp LSHFT  &kp A  &kp S  &kp D    &kp F  &kp G         &kp H    &kp J            &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C    &kp V  &kp B         &kp N    &kp M            &kp COMMA  &kp DOT  &kp FSLH  &to 0
                         &kp TAB  &mo 0  &kp ESCAPE    &kp RET  &lt 4 BACKSPACE  &kp DEL
            >;
        };

        SYS {
            display-name = "System";
            bindings = <
&trans  &kp F1        &kp F2        &kp F3        &kp F4        &kp F5            &kp F6  &kp F7  &kp F8  &kp F9  &kp F10      &trans
&trans  &kp F11       &kp F12       &trans        &trans        &studio_unlock    &trans  &trans  &trans  &trans  &trans       &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 4  &bt BT_CLR_ALL    &trans  &trans  &trans  &trans  &bootloader  &trans
                                    &trans        &trans        &trans            &trans  &trans  &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
