#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define NAV 1
#define SYM 2
#define ADJ 3
#define EXTRA 4

/ {
    behaviors {
        para: para {
            compatible = "zmk,behavior-tap-dance";
            label = "PARA";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;
        };

        caps: caps {
            compatible = "zmk,behavior-caps-word";
            label = "CAPS";
            #binding-cells = <0>;
            continue-list = <MINUS BACKSPACE>;
        };

        paraless: paraless {
            compatible = "zmk,behavior-mod-morph";
            label = "PARALESS";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LESS_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        paragreat: paragreat {
            compatible = "zmk,behavior-mod-morph";
            label = "PARAGREAT";
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        hml: hrm_left {
            compatible = "zmk,behavior-hold-tap";
            label = "hrm_left";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            require-prior-idle-ms = <175>;
            flavor = "balanced";
            tapping-term-ms = <300>;
            quick-tap-ms = <175>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <7 18 19 19 20 21 22 31 32 33 34 41 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 40 41 39 36 37 38>;
        };

        hmr: hrm_right {
            compatible = "zmk,behavior-hold-tap";
            label = "hrm_right";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            require-prior-idle-ms = <175>;
            flavor = "balanced";
            tapping-term-ms = <300>;
            quick-tap-ms = <175>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41>;
        };

        lt_bkspace: lt_bkspace {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_BKSPACE";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <150>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41>;
        };

        sk_custom: sk_custom {
            compatible = "zmk,behavior-sticky-key";
            label = "SK_CUSTOM";
            bindings = <&sk>;
            #binding-cells = <1>;
            quick-release;
            release-after-ms = <280>;
            ignore-modifiers;
        };

        shift_tab: shift_tab {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFT_TAB";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            require-prior-idle-ms = <175>;
            flavor = "balanced";
            tapping-term-ms = <300>;
            quick-tap-ms = <175>;
            hold-trigger-on-release;
        };
    };

    macros {
        browsertab: browsertab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LCTRL>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_fslash {
            bindings = <&kp KP_SLASH>;
            key-positions = <32 31>;
        };

        combo_bslask {
            bindings = <&kp BACKSLASH>;
            key-positions = <32 33>;
        };
    };

    //

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";

            // -----------------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |
            // |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |
            // |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&kp K_MUTE  &kp W  &kp L                &kp Y            &kp P                &kp B           &kp Z        &kp F                    &kp O                   &kp U                 &kp SQT        &kp C_VOLUME_UP
&caps       &kp C  &hml LEFT_CONTROL R  &hml LEFT_ALT S  &hml LEFT_COMMAND T  &kp G           &kp M        &hmr RIGHT_META N        &hmr RIGHT_ALT E        &hmr RIGHT_CONTROL I  &kp A          &kp C_VOLUME_DOWN
&mo 4       &kp Q  &kp J                &kp V            &kp D                &kp K           &kp X        &kp H                    &kp PERIOD              &kp COMMA             &kp SEMICOLON  &to 3
                                        &kp TAB          &lt 1 SPACE          &lt 2 ESCAPE    &lt 2 ENTER  &lt_bkspace 1 BACKSPACE  &sk_custom RIGHT_SHIFT
            >;
        };

        SYM {
            display-name = "sym_left";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans         &kp LEFT_BRACE        &kp MINUS       &kp RIGHT_BRACE        &kp BACKSLASH       &kp PERCENT      &kp GRAVE    &kp CARET     &kp DOLLAR  &trans     &trans
&trans  &kp LESS_THAN  &kp LEFT_PARENTHESIS  &kp EQUAL       &kp RIGHT_PARENTHESIS  &kp GREATER_THAN    &kp AMPERSAND    &kp AT_SIGN  &kp ASTERISK  &kp POUND   &kp SLASH  &trans
&trans  &trans         &kp LEFT_BRACKET      &kp UNDERSCORE  &kp RBKT               &kp PLUS            &kp EXCLAMATION  &kp COLON    &kp TILDE     &kp PIPE    &trans     &trans
                                             &trans          &trans                 &trans              &trans           &trans       &trans
            >;

            label = "SYM";
        };

        NAVNUM {
            display-name = "Nav";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&trans  &trans  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &trans             &kp INS      &kp K_UNDO      &kp LC(N)      &kp LC(P)     &kp K_REDO  &trans
&trans  &trans  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_NUMBER_0    &kp K_COPY   &kp LEFT_ARROW  &kp DOWN       &kp UP_ARROW  &kp RIGHT   &trans
&trans  &trans  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &trans             &kp K_PASTE  &kp HOME        &kp PAGE_DOWN  &kp PAGE_UP   &kp END     &trans
                                 &trans           &trans           &trans             &trans       &trans          &trans
            >;

            label = "NAVNUM";
        };

        qwerty {
            display-name = "fallback";
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E    &kp R  &kp T         &kp Y    &kp U            &kp I      &kp O    &kp P     &kp BACKSPACE
&kp LSHFT  &kp A  &kp S  &kp D    &kp F  &kp G         &kp H    &kp J            &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C    &kp V  &kp B         &kp N    &kp M            &kp COMMA  &kp DOT  &kp FSLH  &to 0
                         &kp TAB  &mo 1  &kp ESCAPE    &kp RET  &lt 4 BACKSPACE  &kp DEL
            >;
        };

        SYS {
            display-name = "System";
            bindings = <
&trans  &kp F1        &kp F2        &kp F3        &kp F4        &kp F5            &kp F6  &kp F7  &kp F8  &kp F9  &kp F10      &trans
&trans  &kp F11       &kp F12       &trans        &trans        &studio_unlock    &trans  &trans  &trans  &trans  &trans       &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 4  &bt BT_CLR_ALL    &trans  &trans  &trans  &trans  &bootloader  &trans
                                    &trans        &trans        &trans            &trans  &trans  &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
